* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	float: right;
}

li {
	display: inline;
}

#nav h1 {
	float: left;
}

#AboutMe {
	padding: 10px;
	border: solid 1px black;
}

#AboutMe h2 {
	border-bottom: solid 1px black;
	padding-bottom: 5px;
}

#AboutMe p {
	padding-top: 5px;
}
