* {
	padding: 0;
	margin: 0;
	color: #777777;
}

body {
	background-image: url('../images/dynamic-style.png');
}

h1 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.header {
	width: 100%;
	background: #ffffff;
	clear: both;
	overflow: auto;
	border-bottom: 2px solid #cccccc;
}

.left {
	position: relative;
	left: 21.5%;
	width: 18%;
}

.right {
	position: relative;
	left: 43%;
	width: 40%;
}

.right li {
	float: right;
	list-style-type: none;
	padding: 15px 0 15px 15px;
	line-height: 200%;
	font-size: 14pt;
}

.left h1 {
	float: left;
	background: #4aaaa5;
	color: #ffffff;
	margin-left: -20px;
	padding: 20px;
}

main {
	width: 960px;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	height: 960px;
}

.container {
	position: absolute;
	width: 60%;
	right: 20%;
	left: 20%;
	background: #ffffff;
	padding: 20px;
}

.container h1 {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	padding: 10px 0;
}

#blurb p {
	padding: 10px;
}

#blurbPic {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

footer {
	background: #666666;
}
